<!DOCTYPE html>
<html lang="en" xmlns:overflow="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table { display: block; }

        table {
            height: 200px;       /* Just for the demo          */
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;  /* Hide the horizontal scroll */
        }
    </style>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <th>省份</th>
            <th>财政教育支出(亿元）</th>
            <th>特殊教育学校(所)</th>
            <th>特殊教育专任教师数(万人)</th>
            <th>特殊教育招生数(万人)</th>
            <th>年份</th>
        </tr>
    </thead>
    <tbody>
         <tr>
        <td>四川</td>
        <td>1461.78</td>
        <td>128</td>
        <td>0.3</td>
        <td>1.03</td>
        <td>2018</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>1389.2</td>
        <td>127</td>
        <td>0.28</td>
        <td>1.04</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>1301.85</td>
        <td>125</td>
        <td>0.25</td>
        <td>0.96</td>
        <td>2016</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>1252.33</td>
        <td>124</td>
        <td>0.24</td>
        <td>0.81</td>
        <td>2015</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>1056.91</td>
        <td>122</td>
        <td>0.22</td>
        <td>0.8</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>1036.41</td>
        <td>119</td>
        <td>0.2</td>
        <td>0.82</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>993.2</td>
        <td>113</td>
        <td>0.19</td>
        <td>0.84</td>
        <td>2012</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>993.2</td>
        <td>113</td>
        <td>0.19</td>
        <td>0.84</td>
        <td>2012</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>1227.87</td>
        <td>80</td>
        <td>0.22</td>
        <td>0.36</td>
        <td>2011</td>
    </tr>
     <tr>
        <td>四川</td>
        <td>921.48</td>
        <td>75</td>
        <td>0.2</td>
        <td>0.37</td>
        <td>2010</td>
    </tr>
    <tr>
        <td>四川</td>
        <td>803.2</td>
        <td>69</td>
        <td>0.19</td>
        <td>0.36</td>
        <td>2009</td>
    </tr>

    </tbody>

</table>
</body>
</html>